{% extends 'base.html.twig' %}

{% block title %}Hello ResetPasswordController!{% endblock %}


    {% block stylesheets %}
        <style>form, body{
                margin-left:30%;
                margin-top:5%;
            }</style>
    {% endblock %}

{% block body %}
<div class="mb-3 form-group">

     {{ form_start(resetPasswordForm) }}
   {{ form_row(resetPasswordForm.email) }}
    {{ form_row(resetPasswordForm.password) }}

    <button class="btn">Reset Password</button>
    {{ form_end(resetPasswordForm) }}

</div>
{% endblock %}
